/**************************************************************************************************
 *
 *  @Section: Global
 *
***************************************************************************************************/

// Home

#post-202{
	font-family: $font-default;
	margin-top: -10rem;
	header{
		display: none;
	}
}

.tituloHero{
	font-size: 38pt;
	line-height: initial;
	padding-right: 13rem;
}

.Col_heroHome {
	max-width: 100rem !important;
} 

.btn_ticket{
	background: $yellow_btn;
	color: $blue_dark;
	display: inline-block;
	padding: 1.5rem 3rem;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13pt;
	text-decoration: none;
}
.container_hm{
	max-width: 1024px;
	padding: 0 2rem;

}

.bienvenida_home{
	max-width: 1024px;
	padding: 0 2rem;
	.wp-block-group__inner-container{
		max-width: 600px;
		h3{
			color: #151F51;
		}
		p{
			color: $blue_dark;
			font-size: 16pt;
			strong{
				color: #43B297;
			}
		}
	}
}

.content_blocks{
	.blocks{
		background: #151F51;
		padding: 1rem;
		.wp-block-group{
			margin-top: 0;
			margin-bottom: 0;
		}
		.wp-block-button{
			width: 100%;
			margin-top: 3rem;
			a{
				background-color: transparent;
				text-decoration: none;
				position: relative;
				display: inline-block;
				width: 100%;
				padding: initial;
				text-align: left;
				font-size: 18pt;
				text-transform: none;				
				&:after{
					content: '';
					background: url('https://2020.managua.wordcamp.org/files/2020/02/arrow-rigth.png') no-repeat center;
					height: 28px;
					width: 32px;
					position: absolute;
					right: 0;
				}
			}
		}
	}
	.block_1{
		background: url('https://github.com/wpnicaragua/WCMGA2020-custom-css/blob/master/image/bg-ponentes.jpg') no-repeat center;
	}
}
